In [8]:
import pandas as pd
import numpy as np
from datetime import timedelta
from datetime import datetime
import sqlite3

In [ ]:
conn = sqlite3.connect('Honda.db')  # You can create a new database by changing the name within the quotations
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

# Create table - CLIENTS
c.execute('''CREATE TABLE CLIENTS
             ([generated_id] INTEGER PRIMARY KEY,[Client_Name] text, [Country_ID] integer, [Date] date)''')
          
# Create table - COUNTRY
c.execute('''CREATE TABLE COUNTRY
             ([generated_id] INTEGER PRIMARY KEY,[Country_ID] integer, [Country_Name] text)''')
        
# Create table - DAILY_STATUS
c.execute('''CREATE TABLE DAILY_STATUS
             ([Client_Name] text, [Country_Name] text, [Date] date)''')
                 
conn.commit()

In [2]:
summary = pd.read_csv("../Data/Summary.csv")
summary.isna().count()

Device          4804
Trip            4804
StartTime       4804
Endtime         4804
UTCTime         4804
TripStart       4804
TodTripStart    4804
dtype: int64

In [3]:
rv_bsm = pd.read_csv("../Data/RvBsm.csv")
rv_bsm.head()

,Device,Trip,Time,RvDevice,NativeFlag,LocalTimeMS,BsmPsId,BasicVehClass,RvRandomId,Latitude,Longitude,Elevation,Heading,GpsSpeed,BrakeStatus,YawRate,LongAccel
0,2004,12,20450,2494,0,80282393,1,0,1368,40.283614,-83.529785,291.89999,228.71249,25.500000,0,-0.97,0.07
1,2004,12,20500,2494,0,80282893,1,0,1368,40.283537,-83.529898,292.00000,227.95000,25.400002,0,-1.46,0.01
2,2004,12,20550,2494,0,80283393,1,0,1368,40.283458,-83.530009,292.10001,226.95000,25.299999,0,-2.19,0.01
3,2004,12,20600,2494,0,80283893,1,0,1368,40.283377,-83.530117,292.10001,225.50000,25.320000,0,-2.92,0.07
4,2004,12,20650,2494,0,80284393,1,0,1368,40.283294,-83.530222,292.20001,224.08749,25.320000,0,-2.92,0.07

In [4]:
rv_bsm.groupby(["Device", "Trip"]).count().reset_index()

,Device,Trip,Time,RvDevice,NativeFlag,LocalTimeMS,BsmPsId,BasicVehClass,RvRandomId,Latitude,Longitude,Elevation,Heading,GpsSpeed,BrakeStatus,YawRate,LongAccel
0,2004,12,1503,1503,1503,1503,1503,1503,1503,1503,1503,1503,1503,1503,1503,1503,1503
1,2004,14,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
2,2004,32,853,853,853,853,853,853,853,853,853,853,853,853,853,853,853
3,2004,33,637,637,637,637,637,637,637,637,637,637,637,637,637,637,637
4,2004,35,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
5,2004,44,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
6,2004,46,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222
7,2004,47,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
8,2004,49,92,92,92,92,92,92,92,92,92,92,92,92,92,92,92
9,2004,53,87,87,87,87,87,87,87,87,87,87,87,87,87,87,87
10,2004,54,1011,1011,1011,1011,1011,1011,1011,1011,1011,1011,1011,1011,1011,1011,1011
11,2004,55,1582,1582,1582,1582,1582,1582,1582,1582,1582,1582,1582,1582,1582,1582,1582
12,2004,72,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
13,2004,74,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
14,2004,75,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
15,2004,80,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
16,2004,81,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47
17,2004,97,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
18,2004,107,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
19,2004,119,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84
20,2004,142,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96
21,2004,145,80,80,80,80,80,80,80,80,80,80,80,80,80,80,80
22,2004,147,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130
23,2004,149,67,67,67,67,67,67,67,67,67,67,67,67,67,67,67
24,2004,153,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94
25,2004,162,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
26,2004,165,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137
27,2004,181,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27
28,2004,187,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230
29,2004,191,296,296,296,296,296,296,296,296,296,296,296,296,296,296,296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,2999,531,430,430,430,430,430,430,430,430,430,430,430,430,430,430,430
1760,2999,533,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62
1761,2999,535,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
1762,2999,540,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200
1763,2999,541,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56
1764,2999,545,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
1765,2999,546,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
1766,2999,551,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
1767,2999,552,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
1768,2999,554,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102
1769,2999,578,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76
1770,2999,589,440,440,440,440,440,440,440,440,440,440,440,440,440,440,440
1771,2999,595,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53
1772,2999,600,282,282,282,282,282,282,282,282,282,282,282,282,282,282,282
1773,2999,601,342,342,342,342,342,342,342,342,342,342,342,342,342,342,342
1774,2999,605,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120
1775,2999,606,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
1776,2999,610,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103
1777,2999,611,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65
1778,2999,613,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42
1779,2999,635,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
1780,2999,641,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
1781,2999,733,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43
1782,2999,739,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62
1783,2999,758,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
1784,2999,763,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46
1785,2999,774,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
1786,2999,791,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
1787,2999,792,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
1788,2999,798,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19

In [5]:
evt_warn = pd.read_csv("../Data/EvtWarn.csv")
evt_warn.head()

,Device,Trip,Time,RvDevice,NativeFlag,LocalTimeMS,PsId,RvBasicVehClass,RvRandomId,AlertLevel,...,RvLatOffset,HvLatitude,HvLongitude,HvHeading,HvElevation,HvSpeed,HvBrakeStatus,HvYawRate,HvLongitudinalAccel,HvTurnSignal
0,2004,12,48150,2494,1,80559500,1,0,1368,2,...,-4.904795,40.258686,-83.463096,110.27,295.51999,31.577778,0,0.24,-0.0836,0
1,2004,12,48250,2494,1,80560500,1,0,1368,2,...,-5.043336,40.258585,-83.462745,110.43,295.42001,31.611113,0,0.24,0.0716,0
2,2004,12,48350,2494,1,80561500,1,0,1368,2,...,-5.195783,40.258485,-83.462393,110.53,295.32001,31.622221,0,0.24,0.2074,0
3,2004,12,48450,2494,1,80562500,1,0,1368,2,...,-5.365892,40.258383,-83.462042,110.57,295.12000,31.561111,0,0.24,0.1686,0
4,2004,54,109450,22081,1,83779400,1,0,0,3,...,0.000000,40.236264,-83.366918,4.32,267.22000,6.277778,0,-0.97,0.8282,0

In [6]:
spat = pd.read_csv("../Data/Spat.csv")
spat.head()

,Device,Trip,Time,NativeFlag,LocalTimeMS,IntersectId,LaneId,MovementPhase,SignalGroupId,MinEndTime
0,2004,12,21950,0,80297394,2103,11,4,4,11054
1,2004,12,22000,0,80297894,2103,11,4,4,11061
2,2004,12,22050,0,80298394,2103,11,4,4,11065
3,2004,12,22100,0,80298894,2103,11,4,4,11069
4,2004,12,22150,0,80299394,2103,11,4,4,11074

In [7]:
host = pd.read_csv("../Data/Host.csv")
host.head()

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [ ]:
rv_zone = pd.read_csv("../Data/RvZone.csv")
rv_zone.head()

In [ ]:
rv_bvc = pd.read_csv("../Data/RvBasicVehClass.csv")
rv_bvc.head()

In [ ]:
alert_lvl = pd.read_csv("../Data/AlertLevel.csv")
alert_lvl.head()

In [ ]:
event_id = pd.read_csv("../Data/EventAppId.csv")
event_id.head()

In [ ]:
rv_bsm.describe()

In [56]:
summary["Device"] = summary["Device"].str.replace(',', '')
list(summary["Trip"].unique())
summary["Trip"].shape
summary.groupby(["Device"]).count().loc[:,"Trip"] #.reset_index().sort_values('Device')

Device
2004    143
2008     38
2017    149
2107    307
2147    122
2218    279
2233    171
2331    271
2348      7
2494    148
2496    353
2527    154
2533    324
2559    159
2584    311
2588    202
2627    110
2720    332
2804    205
2858     25
2936    379
2941    153
2969    139
2998      8
2999    315
Name: Trip, dtype: int64

In [89]:
spat.groupby(['Device']).nunique()['Trip']

Device
2004     28
2008     20
2017     18
2107     11
2147     50
2218     88
2233     27
2331     40
2348      1
2494     57
2496    128
2527     41
2533     89
2559     21
2584     56
2588     38
2627     43
2720     95
2804     64
2858      7
2936     63
2941     42
2969     49
2999     80
Name: Trip, dtype: int64

In [12]:
# Convert UTCTime to Datetime
summary['UTCTime'] = pd.to_datetime(summary['UTCTime'].str.replace(",",""), unit="ms")

# Tried doing this the same way but ran into errors unless its an integer in days 
start_days = summary['StartTime'].str.replace(",","").astype(int)/(100*60*60*24)
end_days = summary['Endtime'].str.replace(",","").astype(int)/(100*60*60*24)

since_1900 = summary['TripStart'].str.replace(",","").astype(float)

days_delta = end_days - start_days
summary["days_delta"] = days_delta
summary["start_dt"] = pd.to_timedelta(start_days + since_1900, unit='d') + pd.datetime(1900,1,1)
summary["end_dt"] = pd.to_timedelta(days_delta, unit='d') + summary["start_dt"]

summary_dt = summary[["Device", "Trip", "start_dt", "end_dt"]]

summary.head()

,Device,Trip,StartTime,Endtime,UTCTime,TripStart,TodTripStart,days_delta,start_dt,end_dt
0,"2,004",4,"40,400","146,650",2018-10-04 21:17:25.356,"43,377.89","43,377.72",0.012297,2018-10-06 21:28:20.000006400,2018-10-06 21:46:02.500032000
1,"2,004",8,"60,950","147,800",2018-10-05 11:51:33.400,"43,378.49","43,378.33",0.010052,2018-10-07 11:55:45.499987200,2018-10-07 12:10:13.999958400
2,"2,004",11,"54,150","138,500",2018-10-08 12:03:01.848,"43,381.50","43,381.34",0.009763,2018-10-10 12:09:01.499990400,2018-10-10 12:23:04.999948800
3,"2,004",12,"20,450","136,050",2018-10-08 22:14:37.954,"43,381.93","43,381.76",0.013380,2018-10-10 22:22:36.499987200,2018-10-10 22:41:52.500019200
4,"2,004",13,"91,000","175,850",2018-10-09 11:24:57.990,"43,382.48","43,382.31",0.009821,2018-10-11 11:46:21.999964800,2018-10-11 12:00:30.499977600

In [13]:
summary["days_deviation"] = summary["start_dt"].dt.day- summary["UTCTime"].dt.day

In [14]:
summary.groupby(["days_deviation"]).nunique().loc[:, ["Device", "Trip"]]

                Device  Trip
days_deviation
-29                 22   186
-28                 21   143
-27                  2     2
 2                  25   899
 3                  16    32

In [15]:
summary[summary["days_deviation"] == 2]["Device"].unique()

array(['2,004', '2,008', '2,017', '2,107', '2,147', '2,218', '2,233',
       '2,331', '2,348', '2,494', '2,496', '2,527', '2,533', '2,559',
       '2,584', '2,588', '2,627', '2,720', '2,804', '2,858', '2,936',
       '2,941', '2,969', '2,998', '2,999'], dtype=object)

In [16]:
summary[summary["Device"] == '2,004']["days_deviation"].value_counts()

 2     129
-29      6
-28      5
 3       3
Name: days_deviation, dtype: int64

In [17]:

summary["days_deviation"].describe()

count    4804.000000
mean       -0.213780
std         7.937522
min       -29.000000
25%         2.000000
50%         2.000000
75%         2.000000
max         3.000000
Name: days_deviation, dtype: float64

In [18]:
summary["minutes_deviation"] = summary["start_dt"].dt.minute- summary["UTCTime"].dt.minute
summary.groupby(["minutes_deviation"]).nunique().loc[:, ["Device", "Trip"]]

                   Device  Trip
minutes_deviation
-59                     1     1
-58                     6     6
-57                     9     9
-56                     8    14
-55                    15    19
-54                    16    28
-53                    14    27
-52                    19    40
-51                    20    39
-50                    18    36
-49                    17    45
-48                    17    37
-47                    14    31
-46                    16    33
-45                    16    26
-44                    12    19
-43                    11    24
-42                    12    26
-41                     8     8
-40                    13    19
-39                     9    14
-38                     7     9
-37                     5    10
-36                     7     9
-35                    11    18
-34                     5     5
-33                     6    15
-32                     7     9
-31                     6    11
-30                    10    18
...                   ...   ...
 22                    15    33
 23                    16    29
 24                    12    21
 25                     9    17
 26                     4    10
 27                     5     6
 28                     8    11
 29                     6     7
 30                     6     8
 31                     5     8
 32                     3     5
 33                     4     4
 34                     3     4
 35                     1     2
 36                     1     2
 37                     2     2
 38                     3     3
 39                     3     3
 40                     1     1
 41                     2     2
 43                     1     1
 47                     1     1
 48                     1     1
 50                     1     1
 53                     1     1
 54                     1     1
 55                     2     2
 57                     1     1
 58                     1     1
 59                     2     3

[110 rows x 2 columns]

In [19]:
summary_dt.head()

  Device Trip                      start_dt                        end_dt
0  2,004    4 2018-10-06 21:28:20.000006400 2018-10-06 21:46:02.500032000
1  2,004    8 2018-10-07 11:55:45.499987200 2018-10-07 12:10:13.999958400
2  2,004   11 2018-10-10 12:09:01.499990400 2018-10-10 12:23:04.999948800
3  2,004   12 2018-10-10 22:22:36.499987200 2018-10-10 22:41:52.500019200
4  2,004   13 2018-10-11 11:46:21.999964800 2018-10-11 12:00:30.499977600

In [54]:
list(host['Device'].sort_values().unique())

[217, 2107, 2147, 2218, 2331, 2527, 2533, 2584, 2588, 2936, 2969]

In [27]:
rv_bsm['']

0.9988914911913691

In [ ]:
spat.groupby('IntersectId. ')

         BrakeStatus       GpsSpeed
count  647717.000000  647717.000000
mean        0.027864      12.267256
std         0.164583      12.716204
min         0.000000       0.000000
25%         0.000000       1.380000
50%         0.000000       7.500000
75%         0.000000      22.500000
max         1.000000     163.800000

In [21]:
spat["IntersectId"].unique()

array([2103, 4096,  138,  139,  155], dtype=int64)